{% extends 'index.html' %}

{% block main_content %}
<div class="container">
    <h1 class="title is-1 has-text-centered">Modifier l'item</h1>

    <form method="post" action="{% url 'edit_item' item.id %}">
        {% csrf_token %}
        
        <div class="field">
            <label class="label" for="username">Nom d'utilisateur</label>
            
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" id="username" name="username" value="{{ item.username }}" placeholder="Nom d'utilisateur">

                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>

                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label" for="password">Mot de passe</label>
            
            <div class="control has-icons-left">
                <input class="input" type="password" id="password" name="password" value="{{ item.password }}" placeholder="Mot de passe">
            
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label" for="url">URL</label>

            <div class="control has-icons-left">
                <input class="input" type="text" id="url" name="url" value="{{ item.url }}" placeholder="Lien">

                <span class="icon is-small is-left">
                    <i class="fas fa-link"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <button class="button is-fullwidth is-success is-centered" type="submit">
                <span>Modifier</span>
            </button>
        </div>
    </form>
{% endblock %}