<!DOCTYPE html>
<html>
<head>
    <title>Liste items</title>
</head>
<body>
    <h1>items liste de {% item.username %}</h1>

    <table>
        <thead>
            <tr>
                <th>Username</th>
                <th>Password</th>
                <th>URL</th>
                <th>Date de création</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.username }}</td>
                <td>{{ item.password }}</td>
                <td>{{ item.url }}</td>
                <td>{{ item.creation_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
