{% extends 'index.html' %}

{% block main_content %}
<div class="container">
    <h1 class="title is-1 has-text-centered">Connexion</h1>

    <form method="post">
        {% csrf_token %}
        <div class="field">
            <label class="label">Pseudonyme</label>
            
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" name="username" placeholder="Nom d'utilisateur" required>
                
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
                
                <span class="icon is-small is-right">
                    <i class="fas fa-check"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label">Mot de passe</label>
            
            <div class="control has-icons-left">
                <input class="input" type="password" name="password" placeholder="Mot de passe" required>

                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </div>
        </div>

        <div class="field">
            <button class="button is-fullwidth is-success is-centered" type="submit">
                <span>Connexion</span>
            </button>
        </div>
    </form>
</div>
{% endblock %}