{% extends 'index.html' %}

{% block main_content %}
  <h2>Changer de nom d'utilisateur</h2>
  {% if error_message %}
    <p>{{ error_message }}</p>
  {% endif %}
  {% if success_message %}
    <p>{{ success_message }}</p>
  {% endif %}
  <form method="post" action="{% url 'changed_mind' %}">
    {% csrf_token %}
    <label for="new_username">Nouveau nom d'utilisateur:</label>
    <input type="text" name="new_username" id="new_username" required>
    <button type="submit">Changer</button>
  </form>
{% endblock %}